.app {
  text-align: left;
  background-image: url('./images/background.png');
  width: 1000px;
  height: 700px;
  background-repeat: no-repeat;
}

h1{
  font-size: 70px;
  flex-wrap: wrap;
}

p{
  font-size: 20px;
  flex-wrap: wrap;
}

.text {
  width: 500px;
  height: auto;
}


.cards img{
  width: 120px;
  height: auto;
}

.cards p{
  font-size: 15px;
  text-align: left;
  color: grey;
} 

.cards h2{
  text-align: left;
  
}
